@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";


#root {
  min-height: 100%;
  background-color: #F3F4F6;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

@theme {
  --color-primary-btn: oklch(37.3% 0.034 259.733);
}